<button
  mat-raised-button
  type="submit"
  class="out"
  color="primary"
  (click)="logout()"
>
  LogOut
</button>
<h1 color="white">Dashboard</h1>
<h2 color="white">Task</h2>

<form
  class="example-form"
  [formGroup]="miFormulario"
  (ngSubmit)="submitFormulario()"
  autocomplete="off"
>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Task</mat-label>
    <input type="text" matInput formControlName="item" placeholder="Ex. task" />
    <mat-error *ngIf="campoNoValido('item')"> Required </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Save</button>
</form>
<mat-list>
  <div mat-subheader>Items</div>
  <mat-list-item *ngFor="let item of items"
    >{{ item }}
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      color="primary"
      (click)="edit(item)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      color="primary"
      (click)="eliminar(item)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<form class="example-form" [formGroup]="formulario">
  <div class="oscuro">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Task</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. task"
        formControlName="item"
      />
      <mat-error *ngIf="campoNoValido('item')"> Required </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="b === false"
      (click)="upd()"
    >
      Edit
    </button>
  </div>
</form>
