<mat-drawer-container>
  <mat-toolbar class="toolbar">
    <h1 color="white">Dashboard</h1>

    <span>Hi @{{ labelu }}!</span>
    <button
      mat-raised-button
      type="submit"
      class="out"
      color="primary"
      (click)="logout()"
    >
      Logout
    </button>
  </mat-toolbar>
</mat-drawer-container>

<div class="cuadro">
  <div class="container">
    <mat-list class="matList">
      <div mat-subheader class="subheader">
        <h1>Items</h1>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          color="primary"
          (click)="a = true"
          id="#icono"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <hr style="color: white; background-color: white; width: 100%" />
      <div class="item" *ngFor="let item of items" id="item">
        <mat-list-item>{{ item }} </mat-list-item>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          color="primary"
          (click)="edit(item)"
          id="#icono"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          color="primary"
          (click)="eliminar(item)"
          id="#icono"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <hr />
      </div>
    </mat-list>
  </div>
</div>
<br />
<div class="oculto" [hidden]="a === false">
  <form
    class="example-form"
    [formGroup]="miFormulario"
    (ngSubmit)="submitFormulario()"
    autocomplete="off"
  >
    <div class="oscuro">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task</mat-label>
        <input
          type="text"
          matInput
          formControlName="item"
          placeholder="Ex. task"
        />
        <mat-error *ngIf="campoNoValido('item')"> Required </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </div>
  </form>
</div>
<div class="oculto" [hidden]="b === false">
  <form class="example-form-final" [formGroup]="formulario">
    <div class="oscuro">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New task</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. task"
          formControlName="item"
        />
        <mat-error *ngIf="campoNoValido('item')"> Required </mat-error>
      </mat-form-field>
      <button
        class="btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="b === false"
        (click)="upd()"
      >
        Edit
      </button>
    </div>
  </form>
</div>
