<br />
<div class="cuadro">
  <div class="container">
    <form
      class="example-form"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
      autocomplete="off"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="icono"
        >person</mat-icon
      >

      <h1 class="h1">Login</h1>

      <!-- Email -->

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. daniel@gmail.com"
          color="black"
        />

        <mat-error *ngIf="campoNoValido('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <!-- Pass -->

      <mat-form-field
        class="example-full-width"
        appearance="fill"
        color="black"
      >
        <mat-label id="lab" color="black">Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Ex. *******"
          color="black"
        />

        <mat-error *ngIf="campoNoValido('password')" color="black">
          invalid password
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        id="boton"
        [disabled]="miFormulario.pending"
      >
        Log
      </button>
      <a routerLink="/auth/registro">¿No tienes cuenta? Registrate</a>
    </form>
  </div>
</div>
