<app-menu></app-menu>
<br />
<div class="cuadro">
  <div class="container">
    <form
      class="example-form"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
      autocomplete="off"
    >
      <h1 class="h1">Login</h1>

      <!-- Email -->

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. daniel@gmail.com"
        />

        <mat-error *ngIf="campoNoValido('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <!-- Pass -->

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Ex. *******"
        />

        <mat-error *ngIf="campoNoValido('password')">
          invalid password
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        id="boton"
        [disabled]="miFormulario.pending"
      >
        Log
      </button>
    </form>
  </div>
</div>
